<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="style.css" />
  <title>Document</title>
</head>

<body>
  <h1>Cocktails</h1>

  <!-- NAVIGATION AKA. ALCOHOL TYPES -->

  <ul>
    <li>
      <a href="/">ALL</a>
    </li>
    <% for(let i = 0; i < alcohol.length; i++){ %>
    <li>
      <a href="?alcoho=<%= alcohol[i]%>"><%= alcohol[i] %></a>
    </li>
    <% } %>
    <li>
      <a href="?nonalcoholic=nonalcoholic">Non-alcoholic</a>
    </li>
  </ul>

  <!-- T A B L E -->

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% for(let i = 0; i < cocktail.length; i++){ %>
    <tr>
      <td>
        <div>
          <%= cocktail[i].name %> <% if(!cocktail[i].isAlcoholic){%><span>non-alcoholic</span>
          <%}%>
          </div>
          <div><%= cocktail[i].contains %></div>
      </td>
      <td><%= cocktail[i].price %> Ft</td>
    </tr>
    <% } %>
  </table>
</body>

</html>