<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/detailed.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <title>Weather - Detailed</title>
</head>

<body>
  <main>
    <h1><%= city %></h1>
    <div class="container">
      <% for (let i = 0; i < weatherObject.length; i++) { %>
      <% console.log(weatherObject[i]); %>
      <div class="details">
        <p class="time"><%= (Number(weatherObject[i].time.slice(11, 13))+2) + ':00 CET' %></p>
        <img src="http://openweathermap.org/img/wn/<%= weatherObject[i].icon %>@2x.png" alt="">
        <h3><%= (Number(weatherObject[i].temp) - 273.15).toFixed(0) %> °C</h3>
        <p><%= weatherObject[i].description %></p>
      </div>
      <%}%>
      <a href="/">
        <div class="btn">BACK</div>
      </a>
  </main>
</body>

</html>