<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <link rel="stylesheet" href="css/dashboard.css">
  <title>Weather - Dashboard</title>
</head>

<body>
  <main>
    <% for (let i = 0; i < database.length; i++) { %>
    <a href="/cities/<%= database[i].city %>">
      <div class="city">
        <div class="city-container">
          <h2><%= database[i].city %></h2>
          <p><%= database[i].location %></p>
        </div>
        <div class="temp">
          <h1><%= database[i].weather[0].temp %> °C</h1>
        </div>
        <div class="icon-container">
          <img src="<%= database[i].weather[0].icon %>.png" alt="<%= database[i].weather[0].icon %>-icon">
        </div>
      </div>
    </a>
    <% } %>
  </main>
</body>

</html>